<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Bubble House</a>
   </div>
   <div>
      <p class="navbar-text navbar-right">Design by  
         <a href="#" class="navbar-link">Bubble</a>
      </p>
   </div>
   </div>
</nav>
<script src="/javascripts/jquery-2.1.3.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</body>
</html>